.ararin-alert {
    position: relative;
    display: block;
    background-image: none;
    padding: $alert-padding;
    border: $border-width soli transparent;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    h4 {
        
    }
}

